<%= link_to "Administration Section", :controller => "/admin" %> -> Styles
<h2>Styles</h2>
<%= link_to "New Style", new_admin_style_path %>
<table cellspacing='0' cellpadding='2' class='list-table' width='100%' rules='groups'>
  <thead>
  <tr>
    <td class='icon'>&nbsp;</td>
    <td>Name</td>
    <td>Default?</td>
  </tr>
</thead>
<tbody>
<% unless @styles.empty? %>
  <% for style in @styles %>
    <tr>
 <td><%= link_to style_image_tag("edit.jpg"), edit_admin_style_path(style) %>
<%= link_to style_image_tag("delete.jpg"), admin_style_path(style), :method => "delete", :confirm => "Are you sure you want to delete this style?" %></td>
      <td><%= style.name %></td>
      <td><% if style.is_default? %>
          Yes
          <% else %>
          <%= link_to "Make Default", make_default_admin_style_path(style), :method => "put" %>
          <% end %></td>
     
    </tr>
  <% end %>
  <% else %>
    <tr><td colspan='4'>There are no styles</td></tr>
  <% end%>
</tbody>
</table>