<% if !params[:version] %>
<h2>Post #<%= @post.id %>, All Versions</h2>
<% for edit in @post.edits.reverse %>
<b>Version #<%= edit.version %>:</b> <%= link_to(edit.user.login + ", " + edit.updated_at.strftime("%c"), :version => edit.id) %><br>
<% end 
else %>
<h2>Post #<%= @post.id %>, Version #<%= @edit.version %></h2>
<table cellspacing='0' cellpadding='5' width='100%' class='posts'>
<thead>
<tr><td colspan='2'><% if @previous %><%= link_to("Previous Version", :version => @previous.id) %><% end %>&nbsp;</td>
<td align='right'><% if @next %><%= link_to("Next Version", :version => @next.id) %><% end %>&nbsp;</td></tr>
<tr><td rowspan='2' valign='top' width='15%'><b><%= @edit.user.login %></b></td>
<td><%= @edit.updated_at.strftime("%d-%m-%y %H:%M:%S") %> - Version #<%= @edit.version %></td>
<td align='right'>
<% if session["user"] %>
<% if is_post_owner_or_admin(@post.id) %>
<%= link_to("Revert post to this version", :action => "revert", :id => @post.id, :version => @edit.id) %>
<% end
end %>
</td>
</tr>
</thead>
<tbody>
<tr><td valign='top'><b>Posts:</b> <%= @edit.user.posts.size %><br>
<b>Date Joined:</b> <%= @edit.user.created_at.strftime("%d-%m-%y") %></td><td valign='top' colspan='2'>
<% @edit.text = BBC.markup(@edit.text) while @edit.text != BBC.markup(@edit.text) %>
			<%= simple_format(sanitize(@edit.text)) %><br><!-- Signature goes here! --></td>
</tr>
</tbody>
<tfoot>
</tfoot>
</table>
<% end %>